*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.wapper{
    width: 100vh;
    margin: 0 auto;
}
header{ 
    /* To make the header fixed */
    height: 100px;
    background: #20efae;
    width: 100%;
    z-index: 12;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px;
    font-size: 40px;

}
.logo a{
    text-decoration: none;
    font-family: bignoodletitling;
    color: #fff;
    letter-spacing:5px ;
    color: rgb(46, 36, 187);
}
nav ul li{
    float: right;
    line-height: 100px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-family: bignoodletitling;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}
.banner{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
}
.banner h2{
    padding-top: 8%;
    font-size: 70px;
    font-family: poppins;
    text-decoration: uppercase;
    color: gray;
}
.content{
    width: 100%;
    position: relative;
    top: 450px;
    background: #ddd;
    height: 1500px;
}
.content h2{
    font-family: bignoodletitling;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}
.content p{
    padding: 2% 0;
    font-family: merienda;
    line-height: 30px;
}